@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
}

.grid-item {
    min-height: 50px;
    border: 2px solid;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: grey;
    margin: 1%;
    padding: 10px;
}

.item1 { 
    width: 14%;
 }
.item2 { 
    width: 40%; 
}
.item3 { 
    width: 40%;
 }
.item4 { 
    width: 20%;
 }
.item5 { 
    width: 76%;
 }
.item6 { 
    width: 100%; 
 }
.item8 { 
    width: 26%;
}
.item9 { 
    width: 70%;
 }
.item10 { 
    width: 24%;
 }
.item11 { 
    width: 50%; 
 }
.item12 { 
    width: 20%; 
}
.item13 { 
    width: 87%;
 }
.item14 { 
    width: 9%;
 }


 .neon{
    font-size: 25px;
    animation: flicker 3s linear infinite;
    font-family: 'Tilt Neon', sans-serif;
    color: #FFD5FF;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
 }

 .neon-blue{
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
    color: #3ec3ff;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #3ec3ff, 2px 0px 4px #3ec3ff, 3px 0px 4px #3ec3ff, 2px 0px 3px #2a8bc9, 2px 3px 15px #2a8bc9, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #2a8bc9, 40px 0vw 200px #2a8bc9;
 }

 .neon-green{
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
    color: #9ad942;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #9ad942, 2px 0px 4px #9ad942, 3px 0px 4px #9ad942, 2px 0px 3px #6e9931, 2px 3px 15px #6e9931, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #6e9931, 40px 0vw 200px #6e9931;
 }

 @keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}